.p-home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .__menu {
        background: $gradient-1;
        border-radius: $radius;
        box-sizing: border-box;
        display: inline-block;
        height: 85%;
        margin: 16px;
        width: 250px;
        overflow: auto;
    }

    .__menu-title {
        color: white;
        font-size: $font-size-xl;
        text-align: center;
    }

    .__menu-subtitle {
        color: white;
        font-size: $font-size-lg;
        text-align: center;
    }

    .__menu-spacer {
        background-image: linear-gradient(to right, rgba(0, 117, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
        border: none;
        height: 0.0625rem;
        margin: 1rem 0px;
        opacity: 0.25;
    }

    .__menu-item {
        color: white;
        cursor: pointer;
        border-radius: $radius;
        display: flex;
        align-items: center;
        text-align: center;
        transition: .25s ease;
        padding: 6px 0;
        margin: 10px;

        &.--active, &:hover {
            background: $color-tertiary;
        }
    }

    .__display {
        display: flex;
        flex-direction: column;
        height: 85%;
        margin: 16px;
        width: calc(100% - 350px);
    }

    .__canvas {
        background: $gradient-1;
        border-radius: $radius;
        height: 100%;
        overflow: hidden;
    }

    .__nav {
        background: $gradient-1;
        border-radius: $radius;
        display: flex;
        margin-bottom: 16px;
        padding: 16px;
    }

    .__nav-item{
        margin-right: 20px;
    }
}