@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: radial-gradient(circle farthest-corner at 10% 20%, rgba(37, 145, 251, 0.5) 0.1%, rgba(0, 7, 128, .5) 99.8%),
    linear-gradient(189deg, rgba(209, 0, 116, 1) 11.2%, rgba(110, 44, 107, 1) 91.1%);
}

* {
  font-family: 'Kanit', sans-serif;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: $radius;
}

audio::-webkit-media-controls-panel {
  background: linear-gradient(45deg, #1cc7fd99, #0075ff99),
    linear-gradient(180deg, #2a2f9b99, #0e0b1b99);
}