$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 30px;

$radius: 25px;

$color-primary: #0075ff;
$color-secondary: #1cc7fd;
$color-tertiary: #2a2f9b;
$color-background: #0e0b1b;

$gradient-1: linear-gradient(126.97deg, rgba(6, 11, 40, 0.74) 28.26%, rgba(10, 14, 35, 0.71) 91.2%);